{% extends 'layout/base.html' %}
{% block content %}
<!-- Page Header -->
      <header class="masthead masthead-page">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>Erwtjes met worteltjes</h1>
                        <h2 class="subheading">Zaterdag</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

        </div>
      </div>
    </div>
  </article>
{% endblock %}