{% extends 'layout/base.html' %}
{% block content %}
    <header class="masthead masthead-page">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>Week <span id="current_week">{{ week }}</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                            Worst met erwtjes en worteltjes
                        </h2>
                        <h3 class="post-subtitle">
                            Zaterdag
                        </h3>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                            Worst met erwtjes en worteltjes
                        </h2>
                        <h3 class="post-subtitle">
                            Zondag
                        </h3>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                            Worst met erwtjes en worteltjes
                        </h2>
                        <h3 class="post-subtitle">
                            Maandag
                        </h3>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                            Worst met erwtjes en worteltjes
                        </h2>
                        <h3 class="post-subtitle">
                            Dinsdag
                        </h3>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                            Worst met erwtjes en worteltjes
                        </h2>
                        <h3 class="post-subtitle">
                            Woensdag
                        </h3>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                            Worst met erwtjes en worteltjes
                        </h2>
                        <h3 class="post-subtitle">
                            Donderdag
                        </h3>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                            Worst met erwtjes en worteltjes
                        </h2>
                        <h3 class="post-subtitle">
                            Vrijdag
                        </h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}